body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #D7C097;
    padding: 20px;
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rotate-logo {
    width: 100px;
    display: inline-block;
    animation: spin 5s linear infinite;
    transform-style: preserve-3d;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 5px 0 0 0;
    font-size: 16px;
}


.hero {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

    .hero h2 {
        margin-bottom: 10px;
    }

.section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 8px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.ol{
    font-size:20px;
    text-decoration:underline;
}

.button-wrapper {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

    .button-wrapper a {
        text-decoration: none;
    }

.button {
    display: inline-block;
    background-color: #73AF6F;
    color: white;
    padding: 12px 22px;
    margin: 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.Error {
    color: red;
    font-weight: normal;
}

label {
    font-weight: bold;
}

.video{
    text-align:center;
    
}